= render partial: "shared/nav"
.row
  .small-12.columns
    %h1 Shelters in Your Area:
.row
  .small-6.offset-small-3.columns
    .shelters
      - @shelters.each do |shelter|
        .shelter
          %h5= shelter.name
          %p= shelter.address
          %p= shelter.city
          %p= shelter.state
          %p= shelter.zip