= render partial: "shared/nav"
.container.breeds-find
  .row
    .small-12.columns
      #progress-bar-container
        #progress
  .row
    .small-12.columns
      .find-breeds-container.small-12.columns
        = form_tag(breeds_path, :method => 'get') do
          %section#question-1
            %h3.text-center What size dog are you interested in?
            .row
              .small-1.columns
                = radio_button_tag(:size, "#{@answers[0].id}")
              .small-11.columns
                = label_tag(:size_tiny, "#{@answers[0].answer_value}")
              .clearfix
            .row
              .small-1.columns
                = radio_button_tag(:size, "#{@answers[1].id}")
              .small-11.columns
                = label_tag(:size_small, "#{@answers[1].answer_value}")
              .clearfix
            .row
              .small-1.columns
                = radio_button_tag(:size, "#{@answers[2].id}")
              .small-11.columns
                = label_tag(:size_medium, "#{@answers[2].answer_value}")
            .row
              .small-1.columns
                = radio_button_tag(:size, "#{@answers[3].id}")
              .small-11.columns
                = label_tag(:size_large, "#{@answers[3].answer_value}")
            .row
              .small-1.columns
                = radio_button_tag(:size, "#{@answers[4].id}")
              .small-11.columns
                = label_tag(:size_giant, "#{@answers[4].answer_value}")
            %button.button.next-step Next
          %section#question-2.hidden
            %h3.text-center How energetic do you want your dog to be?
            .row
              .small-1.columns
                = radio_button_tag(:energy, "#{@answers[5].id}")
              .small-11.columns
                = label_tag(:energy_high, "#{@answers[5].answer_value}")
            .row
              .small-1.columns
                = radio_button_tag(:energy, "#{@answers[6].id}")
              .small-11.columns
                = label_tag(:energy_daily, "#{@answers[6].answer_value}")
            .row
              .small-1.columns
                = radio_button_tag(:energy, "#{@answers[7].id}")
              .small-11.columns
                = label_tag(:energy_inactive, "#{@answers[7].answer_value}")
            .row
              .small-1.columns
                = radio_button_tag(:energy, "#{@answers[8].id}")
              .small-11.columns
                = label_tag(:energy_null, "#{@answers[8].answer_value}")
            %button.button.next-step Next
          %section#question-3.hidden
            %h3.text-center How often will you be able to play with your dog?
            .row
              .small-1.columns
                = radio_button_tag(:time, "#{@answers[9].id}")
              .small-11.columns
                = label_tag(:time_high, "#{@answers[9].answer_value}")
            .row
              .small-1.columns
                = radio_button_tag(:time, "#{@answers[10].id}")
              .small-11.columns
                = label_tag(:time_medium, "#{@answers[10].answer_value}")
            .row
              .small-1.columns
                = radio_button_tag(:time, "#{@answers[11].id}")
              .small-11.columns
                = label_tag(:time_low, "#{@answers[11].answer_value}")
            %button.button.next-step Next
          %section#question-4.hidden
            %h3.text-center Do you have other pets?
            .row
              .small-1.columns
                = radio_button_tag(:animal_friendly, "#{@answers[12].id}")
              .small-11.columns
                = label_tag(:animal_friendly_high, "#{@answers[12].answer_value}")
            .row
              .small-1.columns
                = radio_button_tag(:animal_friendly, "#{@answers[13].id}")
              .small-11.columns
                = label_tag(:animal_friendly_medium, "#{@answers[13].answer_value}")
            .row
              .small-1.columns
                = radio_button_tag(:animal_friendly, "#{@answers[14].id}")
              .small-11.columns
                = label_tag(:animal_friendly_low, "#{@answers[14].answer_value}")
            %button.button.next-step Next
          %section#question-5.hidden
            %h3.text-center What is the main reason you want a dog?
            .row
              .small-1.columns
                = radio_button_tag(:role, "#{@answers[15].id}")
              .small-11.columns
                = label_tag(:role_companion, "#{@answers[15].answer_value}")
            .row
              .small-1.columns
                = radio_button_tag(:role, "#{@answers[16].id}")
              .small-11.columns
                = label_tag(:role_protection, "#{@answers[16].answer_value}")
            .row
              .small-1.columns
                = radio_button_tag(:role, "#{@answers[17].id}")
              .small-11.columns
                = label_tag(:role_exercise, "#{@answers[17].answer_value}")
            .row
              .small-1.columns
                = radio_button_tag(:role, "#{@answers[18].id}")
              .small-11.columns
                = label_tag(:role_family, "#{@answers[18].answer_value}")
            %button.button.next-step Next
          %section#question-6.hidden
            %h3.text-center Your ideal grooming habits would include:
            .row
              .small-1.columns
                = radio_button_tag(:grooming, "#{@answers[19].id}")
              .small-11.columns
                = label_tag(:grooming_regular, "#{@answers[19].answer_value}")
            .row
              .small-1.columns
                = radio_button_tag(:grooming, "#{@answers[20].id}")
              .small-11.columns
                = label_tag(:grooming_minimal, "#{@answers[20].answer_value}")
            .row
              .small-1.columns
                = radio_button_tag(:grooming, "#{@answers[21].id}")
              .small-11.columns
                = label_tag(:grooming_medium_maintenance, "#{@answers[21].answer_value}")
            .row
              .small-1.columns
                = radio_button_tag(:grooming, "#{@answers[22].id}")
              .small-11.columns
                = label_tag(:grooming_high_maintenance, "#{@answers[22].answer_value}")
            %button.button.next-step Next
          %section#question-7.hidden
            %h3.text-center Which of the following best describes your living conditions?
            .row
              .small-1.columns
                = radio_button_tag(:space, "#{@answers[23].id}")
              .small-11.columns
                = label_tag(:space_large, "#{@answers[23].answer_value}")
            .row
              .small-1.columns
                = radio_button_tag(:space, "#{@answers[26].id}")
              .small-11.columns
                = label_tag(:space_small, "#{@answers[26].answer_value}")
            .row
              .small-1.columns
                = radio_button_tag(:space, "#{@answers[24].id}")
              .small-11.columns
                = label_tag(:space_none, "#{@answers[24].answer_value}")
            .row
              .small-1.columns
                = radio_button_tag(:space, "#{@answers[25].id}")
              .small-11.columns
                = label_tag(:space_medium, "#{@answers[25].answer_value}")
          %div#submit-search-breed.hidden
            = submit_tag "Find Breeds", :class => "button", :id => "submit-breeds", :name => nil